<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <h4>{{dealer_name}}</h4>
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="POST">
            {% csrf_token %}
            <label class="h6" for="content">Enter your review</label>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            <input type="checkbox" name="purchasecheck" id="purchasecheck">
            <label for="purchasecheck">Has purchased the car from {{dealer_name}}?</label><br><br>
            <label for="car">Select your car</label>
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
                <option value="Forester-Subaru-2022">Forester-Subaru-2022</option>
                <option value="Forester-Subaru-2021">Forester-Subaru-2021</option>
            </select><br><br>
            <label for="purchasedate">Select your purchase date</label>
            <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate"><br>
            <input name="dealer_id" value="{{dealer_id}}" hidden>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>